<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./img/card.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Asset management</h5>
        <p class="card-text">Use this card to manage assets for your org</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>