<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./img/card.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Employee Management</h5>
        <p class="card-text">use this card to manage employees</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>