
    <div style="display:inline-block;width:300px;margin-right:20px;" >
        @{
            await Html.RenderPartialAsync("_HomeEmp");
        }
    </div>
    
    <div style="display:inline-block;width:300px">
        @{
            await Html.RenderPartialAsync("_HomeAsset");
        }

    </div>

